<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="logConsole" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - &lt;%m&gt;%n" />
		</layout>
		<!--过滤器设置输出的级别-->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<!--param name="levelMax" value="warn" /-->
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="logFile" class="org.apache.log4j.DailyRollingFileAppender">
		<!--设置日志输出文件名-->
		<param name="File" value="logs/cardNum.log" />
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - &lt;%m&gt;%n" />
		</layout>
	</appender>

	<logger name="org.springframework" additivity="false">
		<level value="info" />
		<appender-ref ref="logFile"/>
		<appender-ref ref="logConsole"/>
	</logger>
	
	<logger name="com.card.web" additivity="false">
		<level value="debug"/>
		<appender-ref ref="logFile"/>
		<appender-ref ref="logConsole"/>
	</logger>

	<logger name="org.logicalcobwebs" additivity="false">
		<level value="info" />
		<appender-ref ref="logFile"/>
		<appender-ref ref="logConsole"/>
	</logger>
	
	<logger name="net.sf.ehcache" additivity="false">
		<level value="warn" />
		<appender-ref ref="logFile"/>
		<appender-ref ref="logConsole"/>
	</logger>

	<logger name="org.hibernate" additivity="false">
		<level value="warn" />
		<appender-ref ref="logFile"/>
		<appender-ref ref="logConsole"/>
	</logger>

	<logger name="com.alibaba.dubbo" additivity="false">
		<level value="debug" />
		<appender-ref ref="logFile"/>
		<appender-ref ref="logConsole"/>
	</logger>
	
	<logger name="org.apache.zookeeper" additivity="false">
		<level value="info" />
		<appender-ref ref="logFile"/>
	</logger>
	
	<root>
		<priority value="debug" />
		<appender-ref ref="logFile"/>
		<appender-ref ref="logConsole"/>
	</root>
</log4j:configuration>