@charset "utf-8";
/* CSS Document */
body{ padding:0px; margin:0px;font-size:12px;}

.div_top{ width:100%; background:url(img/topbg.jpg) repeat-x; height:28px;}
.div_top02{ width:998px; height:28px; line-height:28px; margin:auto; color: #333333;font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; }
.div_top03{ width:998px;  margin:auto;}
.div_logo{ width:300px; height:51px; background:url(img/login.jpg) no-repeat; float:left;}
.div_menu{ width:630px; height:39px;  float:right; margin-top:12px;}

.div_bottom{ width:998px; margin:30px auto auto auto; border-top:#CCCCCC solid 1px;}


.div_left{ width:292px; float:left; margin-left:8px;}
.div_b{ background-color:#f2f5fa;}
.div_lx{ background:url(img/lxbg.jpg) no-repeat; width:292px; height:119px;}


.div_gl{ width:292px; height:129px; background:url(img/glbg.jpg) no-repeat;}
.div_gr{ width:675px; float:left; margin-left:14px;}

.div_wb_l{ width:370px; float:left;margin-left:10px;}
.div_wb_r{width:270px; float:left; margin-left:18px;}
.div_wb_title{ background:url(img/titlebg.jpg) no-repeat; height:25px; width:187px; color:#d77400; line-height:25px; font-size:12px; font-family:"宋体",Arial, Helvetica, sans-serif; text-align:left; padding-left:10px;}

.line{ background:url(img/line.jpg) repeat-x; height:5px; }


/**成功案例**/
 .div_cg{ width:96%; margin:auto; margin-bottom:20px;}
 .div_cg_l{ width:30%; float:left;}
 .div_cg_r{ width:67%; float:right;}



.black12{ color:#60676f; font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; line-height:18px;text-decoration:none;}
.black12 a{ color:#60676f; font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; line-height:18px;text-decoration:none;}
.black12 a:hover{ color:#60676f; font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; line-height:18px;text-decoration:underline;}


.black122{ color: #333333; font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; line-height:20px;text-decoration:none;}
.black122 a{ color: #333333; font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; line-height:20px;text-decoration:none;}
.black122 a:hover{ color: #333333; font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; line-height:20px;text-decoration:underline;}


.black14{ color: #333333; font-family:"宋体",Arial, Helvetica, sans-serif; font-size:14px; line-height:20px;text-decoration:none;}


.blue12{ color:#0070aa; font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; line-height:18px;text-decoration:none;}
.blue12 a{ color:#0070aa; font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; line-height:18px;text-decoration:none;}
.blue12 a:hover{ color:#0070aa; font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; line-height:18px;text-decoration:underline;}


.orange12{ color:#e88329;font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; text-decoration:none; }
.orange12 a{ color:#e88329;font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; text-decoration:underline; }
.orange12 a:hover{ color:#e88329;font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; text-decoration:underline; }






/* yuan*/

a {border:none; text-decoration:none;font-size:12px; font-family:Arial, Helvetica, sans-serif;color:#7e7e7e; text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur()); }
img{ border:0px;}
a:hover{ color: #FF0000;}
.clear { clear:both; }
ul{padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
ol {padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px
}
li {padding-bottom: 0px; margin: 0px; padding-left: 0px; padding-right: 0px; padding-top: 0px; list-style-type: none;
}
.wapper{margin:0 auto; width:998px;}
.header{ width:980px; float:left; height:auto; padding-top:20px;}
.header a{ color:#7e7e7e}
.header a:hover{ color: #FF0000;}
.content{ width:996px;float:left; height:auto; padding-bottom:20px; border-bottom:#ccc 1px solid;}
.footer{ width:998px; background:url(img/footerbg.gif) repeat-x; float:left; color:#7e7e7e; margin-top:10px; line-height:24px; text-align:center;margin-bottom:5px;}
.footer a{color:#7e7e7e;}
.footer a:hover{ color: #FF0000;}
.log_left{ float:left; width:608px;}
.log_left h2{ height:37px; width:504px;float:left; padding:0px; font-size:14px; margin:0px;}
.lodtit{ width:534px; line-height:22px; padding-left:52px;float:left}

.log_right{ float:right; width:310px; height:374px; padding:10px; margin-top:20px; background:url(img/inputbg.gif) no-repeat}
.sub_form{width:310px;padding:6px 0px;float:left; font-size:12px;}
.sub_form2{width:310px;float:left; font-size:12px; margin-bottom:5px;}
.sub_form strong{ font-size:14px;}
label.contact{width:70px;float:left;font-size:12px;text-align:right;padding:4px 5px 0 0;color:#333;}/*字段*/
.sub_input{ border:1px solid #ccc; font-size:12px; padding-left:7px; background:#fff; vertical-align:middle; padding-top:5px;float:left; color:#666}/*输入框状态*/
.form_bot{width:280px;padding:40px 0px 0 20px;float:left; font-size:12px; color:#bdbdbd }
.form_bot img{ float:left; margin-right:20px}
.form_ck{width:200px;padding:6px 0px 0 0px;float:left;margin-left:70px;  font-size:12px; color:#7e7e7e }
.form_but{width:210px;padding:5px 0px;float:left; margin-left:70px; color:#bdbdbd }
.form_but a{ color: #0677d5;}
.form_but a:hover{ color: #FF0000;}
/* yuan*/
#nav{
	width:286px;
	padding:5px;
	position:absolute;
	z-index:1;
	top:60px;
	right:618px;
	font-size:12px;
	background-color:#f2f5fa;
	border:#ccc 1px solid;
	height: 110px; line-height:22px;
}
#nav a{ padding:5px;}
#nav a:hover{ text-decoration:underline}


/* yuan-------------------------------------------------*/
#nav1 {width:634px;height:40px;float:left; font-size:16px; font-family:;background: url(img/lgff.gif) repeat-x}
#nav1 ul {width:634px;margin:0px;height: auto; padding:0px;
}
#nav1 li {float:left;height:35px;margin:0px;letter-spacing: 0.6px; text-align:center
}
#nav1 a {width:86px;height:20px; padding:5px 5px 0 5px;text-align:center;color:#ffffff; display:block;
text-decoration: none;text-align:center;font-family:Microsoft yahei;font-size:16px; letter-spacing: 0.3px;
}
#nav1 a:hover { display:block;color:#000000;list-style-image:none;letter-spacing: 0.6px;}
#nav1 #current {background:url(img/cdta.gif) no-repeat; }
#nav1 #current a { padding-bootom: 0px; text-decoration: none; color:#3a7fda;}


.black {
	font-size: 12px; color:#333;  text-decoration: none
}

.black A:link {
	color:#000; text-decoration: none
}
.black A:visited {
	color: #000; text-decoration: none
}
.black A:hover {
	color: #e70d00; text-decoration: underline
}
.main_m{width:675px; margin:5px 0 0 0px;}
.main_c{width:665px; margin:5px 0 0 10px;line-height:22px;  color:#333;}
  .main_c p{ text-indent:24px;}
.wendi{padding-right: 5px; padding-left: 5px; color:#333333; PADDING-BOTTOM:5px; padding-top:5px; BORDER-BOTTOM: #fff 2px solid}
h2{padding-right: 0px; padding-left: 0px; PADDING-BOTTOM: 5px; MARGIN:5px; FONT: 600 14px '宋体'; padding-top: 5px; BORDER-BOTTOM: #e3e3e3 1px solid}


